.header {
    display: flex;
    padding: 24px 25px 24px 25px;
    margin-bottom: 48px;
    position: fixed;
    z-index: 90000000;
    top: 0;
    width: 100%;
    border-bottom: 1px solid lightgray;
    background-color: #FFFFFF;




    @media screen and (min-width: 480px) {
        background: #FFFFFF;
    }

    @media screen and (min-width: 768px) {
        padding: 28px 51px 28px 50px;
        position: static;
        border-bottom: none;
    }

    @media screen and (min-width: 1024px) {}


    .header__logo {
        margin-right: 61px;
    }

    .header__menu {
        display: flex;
        justify-content: flex-end;
        width: 100%;
        align-items: center;

        @media screen and(min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }

        .header__nav {


            display: none;

            @media screen and(min-width: 768px) {
                display: flex;
                align-items: center;
            }

            .nav__list {
                display: flex;


                .nav__item {
                    margin-right: 20px;

                    @media screen and (min-width: 936px) {
                        margin-right: 48px;
                    }


                    &:last-child {
                        margin-right: 0;
                    }

                    .nav__link {
                        font-family: 'SF Display UI Regular';
                        font-size: 10px;
                        color: #585858;

                        @media screen and (min-width: 838px) {
                            font-size: 14px;
                        }

                    }
                }
            }
        }

        .header__user-box {

            display: none;
            margin-right: 20px;

            @media screen and (min-width: 480px) {
                display: flex;
                align-items: center;
            }

            @media screen and (min-width: 768px) {
                margin-right: 0;
            }


            .header__icon-search {
                margin-right: 10px;

                @media screen and (min-width: 916px) {
                    margin-right: 24px;
                }
            }

            .header__btn-signin {
                color: #585858;
                margin-right: 16px;
                min-height: 48px;
                padding: 0px 24px;
                background-color: transparent;
            }

            .header__btn-signup {
                min-height: 48px;
                padding: 0px 24px;
                color: #FFFFFF;
                background-color: $secondaryColor;
                font-weight: 600;
            }


        }

        .header__btn-burger {
            width: 40px;
            height: 40px;
            border: none;
            background-color: transparent;
            background-image: url(./assets/images/header_and_footer/burger-menu-icon.svg);
            background-repeat: no-repeat;
            background-position: center;

            @media screen and (min-width: 768px) {
                display: none;
            }
        }

        .header__btn-burger.active {
            width: 40px;
            height: 40px;
            background-image: url(./assets/images/header_and_footer/close_icon.svg);
            background-repeat: no-repeat;
            background-position: 0 0;
            background-size: contain;

        }
    }

    .header__mobile-menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background: #F9F9F9;
        padding-left: 40px;
        padding-top: 50px;
        overflow: auto;
        border-right: 1px solid lightgray;
        transition: all .3s ease 0s;

        @media screen and (min-width: 768px) {
            display: none;
        }


        .mobile-menu__top {
            margin-bottom: 50px;
        }


        .mobile-menu__content {
            display: flex;
            flex-direction: column;

            .mobile-menu__list {
                display: flex;
                flex-direction: column;

                .mobile-menu__item {
                    margin-bottom: 50px;

                    .mobile-menu__link {
                        font-family: 'SF Display UI Regular';
                        font-size: 22px;
                        color: #585858;
                    }
                }
            }
        }

        .mobile-menu__user-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            @media screen and (min-width: 480px) {
                display: none;
            }

            .mobile-menu__btns-inner{
                margin-bottom: 20px;
            .mobile-menu__signin {
                color: #585858;
                min-height: 48px;
                padding: 0px 24px;
                background-color: transparent;
                margin-right: 20px;
                border: 1px solid lightgray;
            }

            .mobile-menu__signup{
                min-height: 48px;
                padding: 0px 24px;
                color: #FFFFFF;
                background-color: $secondaryColor;
                font-weight: 600;
            }
        }

        .mobile-menu-input{
            border: 1px solid lightgray;
            padding: 10px;
            background-image: url(./assets/images/gallery/icon_gallery.svg);
            background-position: center center;
            background-repeat: no-repeat;
        }
    }
    }

    .header__mobile-menu.active {
        left: 0;
        top: 0;
        transition: all .3s ease 0s;
    }
}