.main {
margin-top: 100px;
padding-top: 48px;
padding-bottom: 48px;

    &__container {
        display: flex;
        flex-direction: column;
        @extend %container;


        



        .main__title {        
            font-family: 'NY Extra Large Bold';
            font-size: 48px;
            font-weight: 600;
            line-height: 40px;
            margin-bottom: 47px;
            text-align: center;

            @media screen and (min-width: 1024px) {
                max-width: 870px;
                width: 100%;
                text-align: left;
                font-size: 112px;
                line-height: 112px;
            }
        }

        .main__content {
            display: flex;
            flex-direction: column;
            justify-content: center;


            @media screen and (min-width: 1024px) {
                flex-direction: row;
                justify-content: space-between;
            }

            @media screen and (min-width: 1450px){
                justify-content: center;
            }


            .main__description {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 30px;
                

                @media screen and (min-width: 1024px) {
                    align-items: flex-start;
                    margin-right: 55px;
                    margin-bottom: 0;
                }

                .main__text {
                    width: 100%;
                    font-family: 'SF Display UI Regular';
                    font-weight: 400;
                    line-height: 26px;
                    text-align: center;
                    margin-bottom: 48px;
                    font-size: 16px;

                    @media screen and (min-width: 480px){
                        font-size: 22px;
                    }

                    @media screen and (min-width: 1024px) {
                        max-width: 284px;
                        text-align: left;
                        font-size: 16px;
                    }

                    @media screen and (min-width: 1450px){
                        max-width: 100%;
                        font-size: 32px;
                        line-height: 42px;
                    }
                }

                .main__btn {
                    background-color: #FD665E;
                    color: #FFFFFF;
                    min-height: 56px;
                    padding: 0px 32px;
                }
            }
        }
    }
}