.realize {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 26.38%, #FFFFFF 66.15%), url(../../images/realize/realize_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    // display: flex;
    // justify-content: flex-end;
    
    
    .realize__container {
        @extend %container;
        padding-top: 299px;
        padding-bottom: 273px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        z-index: 100;
        

        .realize__title {
            max-width: 535px;
            width: 100%;
            font-family: "NY Extra Large Bold";
            font-size: 48px;
            line-height: 60px;
            font-weight: 600;
            margin-bottom: 64px;
        }

        .realize__btn {
            min-height: 56px;
            padding: 0px 32px;
            background-color: #FD665E;
            color: #FFFFFF;
        }

    }
}