.swiper{
    @extend %container;
    background: linear-gradient(180deg, #F9F9F9 22.12%, rgba(249, 249, 249, 0) 100%);
    

    .swiper__title{
        font-family: "NY Extra Large Bold";
        font-weight: 700;
        font-size: 48px;
        line-height: 60px;
        max-width: 385px;
        width: 100%;
    }
}